@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<div class="col-6">
    Des questions ? Vous cherchez à nous contacter ? C’est très simple !<br/>
    Envoyez un mail à l’adresse suivante <a href="mailto:staffinterpiho@gmail.com">staffinterpiho@gmail.com</a> et nous vous répondrons le plus rapidement possible.

    <address>
        <strong>Support:</strong>   <a href="mailto:staffinterpiho@gmail.com">staffinterpiho@gmail.com</a>
    </address>
    <phone>
        Dik-dik : 0479/21 78 93
    </phone>
</div>
<div class="col-6">
    <img src="~/Content/Images/mail.jpg"/>
</div>


<style>
    img
    {
        width: 40%;
    }
</style>