
@{
    ViewBag.Title = "Edition2019";
}

<div class="jumbotron">

    <h2>Édition 2019 : ... <img src="~/Content/Images/logot.png" /></h2>
    
    <hr class="my-4" />

    <h4>Et cette fois-ci ?</h4>
    <div class="paragraph">
        Cette année, l’équipe organisatrice s’agrandit pour vous offrir une 3e édition encore plus folle que les 2 précédentes. Alors, notez les informations ci-dessus dans votre agenda parce que on veut faire péter tous les scores. Chauffez votre staff, chauffez vos pionniers, vos horizons et rejoignez-nous pour cette 3e édition.
    </div>
    <h4>Quelles sont les informations à retenir pour le moment ?</h4>
    <div class="paragraph">
        <strong>Quand ?</strong> Le 23 février 2019<br />
        <strong>Où ?</strong> Mystère, on dévoile cette information le dimanche 11 novembre<br />
        <strong>Horaire de la journée ?</strong> De 10h à 18h30 max<br />
        <strong>Combien ?</strong> 9€/animé<br />
        <br />
        Si vous avez des questions, n’hésitez pas à nous contacter à l’adresse suivante : <a href="mailto:staffinterpiho@gmail.com">staffinterpiho@gmail.com</a>

    </div>
</div>

<style>
    .nav-logo
    {
        width:100%;
    }
    img{
        width : 25%;
        margin:auto;
    }

    .text-center {
        font-size: medium;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        padding-bottom: 15px;
    }

    .paragraph {
        text-align: justify;
        font-size: small;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    h2 {
        text-align: center;
    }
</style>